// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap");
// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

@import "table/table";

@import "buttons/button";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

@import url("https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css");
