 
@keyframes animateInputBorder {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
 
.boxLogin {
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #0a0a0a;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.3s ease;
	&::after {
		content: "";
		position: absolute;
		width: 500px;
		height: 500px;
		transition: all 0.3s ease;
	}
	&::before {
		content: "";
		position: absolute;
		width: 500px;
		height: 500px;
		transition: all 0.3s ease;
	}
	span {
		position: absolute;
		inset: 3px;
		background-color: #0a0a0a;
		border-radius: 10px;
		z-index: 2;
		input {
			width: 100%;
			height: 100%;
			border: none;
			background-color: transparent;
			color: rgba(255, 255, 255, 0.753);
			font-size: 16px;
			padding: 7px;
			position: relative;
			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}
}
.boxLogin-animation {
	&::before {
		animation: animateInputBorder 4s linear infinite;
		animation-delay: -2s;
		background-image: conic-gradient( transparent, transparent, transparent, #f7b647 );
	}
	&::after {
		animation: animateInputBorder 4s linear infinite;
		background-image: conic-gradient( transparent, transparent, transparent, #f7b647 );
	}
}
.form-container {
	padding: 70px 0px;
	background-color: #121213f6;
	border-radius: 10px!important;
	overflow: hidden;
	position: relative;
	width: 40%;
	transition: 0.3s;
	min-height: 500px;
	z-index: 1;
	display: inline-flex;
	align-items: center;
    box-shadow: rgba(0, 0, 0, 0.397) 0px 3px 6px, rgba(0, 0, 0, 0.397) 0px 3px 6px;
}
 
.left-right {
	.login-form {
		transform: translateX(-100%);
	}
	.signUp-form {
		transform: translateX(0%);
	}
	transform: translateX(100%);
}
.form-wraper {
	.input-group {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	padding: 0px 40px;
	position: absolute;
	width: 100%;
	transition: 0.3s;
}
.signUp-form {
	transform: translateX(100%);

}
.action-button {
	button {
		border-radius: 10px;
        font-weight: 600;
        letter-spacing: 1px;
        font-family: "Signika Negative", sans-serif!important;
		font-size: 20px;
		padding: 0.5rem 3rem;
		color: black;
		box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
		border: solid 3px transparent;
		background-image: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) ), linear-gradient(101deg, #000000, #ce8d14f1);
		background-origin: border-box;
		background-clip: content-box, border-box;

		box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
		color: #edf3f9;
		width: 100%;
		padding: 10px;
		margin-top: 30px;
		transition: all 0.3s ease;
		&:hover {
            box-shadow: rgba(36, 35, 35, 0.151) 0px 1px 2px, rgba(36, 35, 35, 0.151)  0px 2px 4px, rgba(36, 35, 35, 0.151)  0px 4px 8px, rgba(36, 35, 35, 0.151)  0px 8px 16px, rgba(36, 35, 35, 0.151)  0px 16px 32px, rgba(36, 35, 35, 0.151)  0px 32px 64px;
		}
	}
}
.form-title {
	margin-bottom: 30px;
}
.main-form-container {
	min-width: 800px;
	background-color: rgba(0, 0, 0, 0.486);
	border-radius: 10px;
	position: relative;
	height: 400px;
	display: flex;
	align-items: center;
    width: 80%;
    
}
.bg-btn-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}
.section {
	min-height: 800px;
}
