// .filterSection {
//   width: 250px;
//   height: 500px;
//   background-color: rgb(27, 27, 27);
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
//   color: #fff;
// }
// .logo-navbar {
//   width: 60px;
//   height: 60px;
// }
// .custom-table {
//   min-width: 900px;
// }
// tr:first-child {
//   background-color: #e0e0e0;
//   -webkit-box-shadow: 3px 5px 10px rgba(104, 100, 100, 0.685);
//   -moz-box-shadow: 3px 5px 10px rgba(104, 100, 100, 0.685);
//   box-shadow: 3px 5px 10px rgba(104, 100, 100, 0.685);
// }
// .custom-table thead tr,
// .custom-table thead th {
//   padding-bottom: 30px;
//   border-top: none;
//   border-bottom: none !important;
//   color: #fff;
//   font-size: 13px;
//   background-color: #3c373e !important;
//   text-transform: uppercase;
//   letter-spacing: 0.1rem;
// }

// .custom-table tbody th,
// .custom-table tbody td {
//   color: #777;
//   font-weight: 400;
//   padding-bottom: 20px;
//   padding-top: 20px;

//   border: none;
//   background-color: #3c373e !important;
//   -webkit-transition: 0.3s all ease;
//   -o-transition: 0.3s all ease;
//   transition: 0.3s all ease;
// }

// .custom-table tbody th small,
// .custom-table tbody td small {
//   color: rgba(255, 255, 255, 0.3);
//   font-weight: 300;
// }

// .custom-table tbody th .more,
// .custom-table tbody td .more {
//   color: rgba(255, 255, 255, 0.3);
//   font-size: 11px;
//   font-weight: 900;
//   text-transform: uppercase;
//   letter-spacing: 0.2rem;
// }

// .custom-table tbody tr {
//   -webkit-transition: 0.3s all ease;
//   -o-transition: 0.3s all ease;
//   transition: 0.3s all ease;
// }

// .custom-table tbody tr:hover td,
// .custom-table tbody tr:focus td {
//   color: #fff;
// }

// .custom-table tbody tr:hover td i.fa-pencil,
// .custom-table tbody tr:focus td i.fa-pencil {
//   color: #3462c7de;
//   cursor: pointer;
// }

// .custom-table tbody tr:hover td i.fa-trash,
// .custom-table tbody tr:focus td i.fa-trash {
//   color: #e93b43b6;
//   cursor: pointer;
// }

// .custom-table .td-box-wrap {
//   padding: 0;
// }

// .custom-table .box {
//   background: #fff;
//   border-radius: 4px;
//   margin-top: 15px;
//   margin-bottom: 15px;
// }

// .custom-table .box td,
// .custom-table .box th {
//   border: none !important;
// }

// .select2-results__option {
//   padding-right: 20px;
//   vertical-align: middle;
//   color: #fff;
// }
// .select2-results__option:before {
//   content: " ";
//   display: inline-block;
//   position: relative;
//   height: 20px;
//   width: 20px;
//   //   border: 2px solid #e9e9e9;
//   border-radius: 4px;
//   background-color: #302f2fce;
//   margin-right: 20px;
//   color: #fff;
//   vertical-align: middle;
// }
// .select2-results__option[aria-selected="true"]:before {
//   font-family: fontAwesome;
//   content: "\f00c";
//   color: #fff;
//   background-color: #4981fc;
//   border: 0;
//   display: inline-block;
//   padding-left: 3px;
// }
// // .select2-container--default .select2-results__option[aria-selected=true] {
// // 	background-color: #3462c7de;
// // }
// .select2-container--default
//   .select2-results__option--highlighted[aria-selected] {
//   background-color: #232324b6;
//   color: #fff;
// }
// .select2-container--default .select2-selection--multiple {
//   margin-bottom: 10px;
// }
// .select2-container--default.select2-container--open.select2-container--below
//   .select2-selection--multiple {
//   border-radius: 4px;
// }
// .select2-container--default.select2-container--focus
//   .select2-selection--multiple {
//   border: 2px solid #3980dd !important;
//   color: #fff;
// }
// .select2-container--default .select2-selection--multiple {
//   border-width: 2px;
// }
// .select2-container--open .select2-dropdown--below {
//   color: #fff;
//   border-radius: 6px;
//   background-color: rgba(10, 10, 10, 0.747);
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
// }
// .select2-selection .select2-selection--multiple:after {
//   content: "hhghgh";
// }
// .select2-container--default .select2-results__option--selected {
//   background-color: #222121a4;
// }
// .select2-container--default .select2-results__option--selected::before {
//   font-family: fontAwesome;
//   content: "\f00c";
//   color: #fff;
//   background-color: #4981fc;
//   border: 0;
//   display: inline-block;
//   padding-left: 3px;
// }

// .select2-container--default
//   .select2-selection--multiple
//   .select2-selection__choice {
//   background-color: #2e2d2de1;
//   font-weight: lighter;
// }

// .select2-container--default.select2-container .select2-selection--multiple {
//   background-color: rgba(24, 24, 24, 0.856);
//   border: 1px solid #615f5fbe;
//   padding: 3px;
//   color: #fff;
// }

// .select2-container--default .select2-results > .select2-results__options {
//   color: #fff;
//   border-radius: 6px;
//   background-color: rgba(10, 10, 10, 0.747);
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
// }
// .select2-container--default .select2-search--inline .select2-search__field {
//   color: #fff;
// }

// .select2-container--default
//   .select2-selection--multiple
//   .select2-selection__choice__remove {
//   color: #4981fc;
// }
// .select2-container--default
//   .select2-selection--multiple
//   .select2-selection__choice__remove:hover {
//   background-color: #2e416bb6;
//   color: #4981fc;
// }

// // .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
// //      padding: 3px!important;
// //      background-color: red;
// // }

.custom-table-responsive {
  background-color: #fffefdb6;
  padding: 20px;
  border-radius: 4px;
}
.custom-table thead tr {

  border-radius: 7px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.custom-table thead tr,
.custom-table thead th {
  border-top: none;  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: none !important;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.custom-table tbody th,
.custom-table tbody td {
  color: #777;
  font-weight: 400;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 300;
}
.custom-table tbody th small,
.custom-table tbody td small {
  color: #b3b3b3;
  font-weight: 300;
}
.custom-table tbody tr:not(.spacer) {
  border-radius: 7px;
  overflow: hidden;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.custom-table tbody tr:not(.spacer):hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.custom-table tbody tr th,
.custom-table tbody tr td {
  background: #fff;
  border: none;
}
.custom-table tbody tr th:first-child,
.custom-table tbody tr td:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.custom-table tbody tr th:last-child,
.custom-table tbody tr td:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.custom-table tbody tr.spacer td {
  padding: 0 !important;
  height: 10px;
  border-radius: 0 !important;
  background: transparent !important;
}
.custom-table tbody tr.active {
  opacity: 0.4;
}

/* Custom Checkbox */
.control {
  display: block;
  position: relative;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 18px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 2px solid #ccc;
  background: transparent;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  border: 2px solid #d8941d;
}

.control input:checked ~ .control__indicator {
  border: 2px solid #d8941d;
  background: #d8941d;
}

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
  border: 2px solid #ccc;
}

.control__indicator:after {
  // font-family: "fontawesome";
  // content: "ï€Œ";
  // font-size: 12px;
  position: absolute;
  display: none;
}

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff;
}

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -52%);
  -ms-transform: translate(-50%, -52%);
  transform: translate(-50%, -52%);
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #d8941d;
  opacity: 0.2;
  border: 2px solid #d8941d;
}
