.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #61c6f5;
  background-image: linear-gradient(315deg, #50c4e0 0%, #3280ad 74%);
  background-size: 200% 100%;
  background-position: left;
  background-repeat: no-repeat;
  transition: 500ms;
  color: aliceblue;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.noselect:before {
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
  transition: 500ms;
}

.noselect:hover {
  background-position: right;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.noselect:hover:before {
  color: rgba(255, 255, 255, 0.8);
}

.noselect:focus {
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.fa-plus {
  border-radius: 100px;
  background-color: #274060;
  padding-top: 6px;
  width: 25px;
  padding-left: 3px;
  height: 25px;
  font-size: 13px;
}

.fa-cog,
.fa-question-circle {
  color: #3280ad;
  font-size: 15px;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 35px;
  padding-top: 6px;
  padding-left: 5px;
  height: 35px;
  font-size: 13px;
  cursor: pointer;
}
.icons:hover {
  background-position: right;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-image: linear-gradient(315deg, #b7dce69f 0%, #9bc6df96 74%);
}
.icons:focus {
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
